[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CIARA"]
	path = CIARA
	url = https://github.com/cran/CIARA
[submodule "MitoHEAR"]
	path = MitoHEAR
	url = https://github.com/gabrielelubatti/mitohear
[submodule "SCOPRO"]
	path = SCOPRO
	url = https://github.com/cran/SCOPRO
[submodule "WOTPLY"]
	path = WOTPLY
	url = https://github.com/cran/WOTPLY
